{% extends '../layouts/dashboard.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-fluid container-max">
    <div class="page-header">
        <h1>Account
            <small>/views/dashboard/account (<a target="_blank"
                                                   href="https://dashboard.stripe.com/{{user.account.accountId}}/test/plans">View in Stripe</a>)</small>
        </h1>
    </div>
    {% include "../partials/flash.html" %}

    {% for account in plans %}

    <form action="/user/account/deleteplan" method="POST" class="form-horizontal">
        <div class="form-group">

        {% for plan in plans[loop.key] %}


        <div class="row form-group">
            <div class="col-sm-8 col-sm-offset-3">
                <div class="radio">
                    <label>
                        <input type="radio" {% if user.stripe.currentPlan== loop.key %}checked{% endif %}
                               name="plan"
                               value='{ "accountId": "{{plan.accountId}}", "id": "{{plan.id}}" }'
                               data-toggle="radio">
                        <span>{{plan.name}} - ${{plan.amount / 100}} </span>
                    </label>
                </div>
            </div>
        </div>



        {% if loop.last %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <input type="hidden" id="{{plan.accountId}}" name="accountId" value="">
                <button type="submit" class="btn btn-primary">Delete Plan</button>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </form>

    {% endfor %}




    <div class="page-header">
        <h3>Create A Subscription Plan</h3>
    </div>
    <form  action="/user/account/plan" method="POST"
          class="form-horizontal">
        <div class="form-group">
            <label for="plan" class="col-sm-3 control-label">Plan Name</label>
            <div class="col-sm-8">
                <input class="form-control" type="input" name="plan_name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Monthly Amount</label>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" name="plan_amount" size="25" maxlength="10" class="form-control" id="exampleInputAmount" placeholder="Amount">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button type="submit" class="btn btn-primary">Create Plan</button>
            </div>
        </div>
    </form>

    <div class="page-header">
        <h3>Your Payment Details</h3>
    </div>
    <form role="form" id="merchantForm" action="/user/account/billing" method="POST" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-3 control-label">Test Card Info</label>
            <div class="col-sm-7">
                <div class="form-control-static">4242424242424242, 11/19, 123 - <a
                        href="https://stripe.com/docs/testing">additional test cards</a></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Card Number</label>
            <div class="col-sm-4">
                <input id="card-num" type="text" class="form-control"
                       placeholder="XXXX XXXX XXXX {{user.stripe.last4}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Card Details</label>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-4">
                        <input id="card-month" type="text" size="2" maxlength="2" class="form-control" placeholder="MM">
                    </div>
                    <div class="col-xs-4">
                        <input id="card-year" type="text" size="2" maxlength="2" class="form-control" placeholder="YY">
                    </div>
                    <div class="col-xs-4">
                        <input id="card-cvc" type="text" size="3" maxlength="3" class="form-control" placeholder="CVC">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <div id="cardFormError" class="alert alert-danger hidden" role="alert">
                    <p>{{error}}</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button type="submit" class="btn btn-primary">Update Card</button>
            </div>
        </div>
    </form>

</div>
</div>
{% endblock %}
